:root {
  --white--0: #f8f4fc;
  --neutral--3: #2e2833;
  --neutral--2-84: rgba(34, 29, 37, .84);
  --neutral--1: #161219;
  --lilac--0: #dcc8f0;
  --cosmic-nebula--0: #501464;
  --celery--0: #caff8a;
  --neutral--2-85: #221d25;
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  color: var(--white--0);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
}

p {
  color: #f8f4fc;
  margin-bottom: 10px;
}

a {
  font-size: 15px;
  text-decoration: underline;
}

.top-nav {
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: var(--neutral--3);
  background-color: var(--neutral--2-84);
  justify-content: space-between;
  padding: 12px 24px;
  display: flex;
}

.footer {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
}

.body {
  background-color: var(--neutral--1);
  flex-flow: column;
  font-family: Tt Firs Neue Variable, sans-serif;
  display: flex;
}

.logo-wrapper {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.actions {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: flex;
}

.button {
  border: 1px #000;
  border-radius: 4px;
  padding: 12px 16px;
}

.button.ghost {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  color: var(--lilac--0);
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: flex;
}

.button.solid {
  background-color: var(--lilac--0);
  color: var(--cosmic-nebula--0);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: flex;
}

.button.solid.wide {
  padding-left: 32px;
  padding-right: 32px;
}

.button.solid.wide.show-on-mobile {
  display: none;
}

.button-2 {
  background-color: rgba(0, 0, 0, 0);
}

.button-pill {
  color: var(--celery--0);
  padding: 4px 12px;
  font-size: 16px;
  text-decoration: none;
}

.container {
  flex: 1;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 48px;
  display: flex;
}

.card {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: var(--neutral--2-85);
  border-radius: 8px;
  justify-content: center;
  align-items: stretch;
  padding: 40px;
  display: flex;
  box-shadow: 0 0 0 1px #100414, inset 0 1px rgba(248, 244, 252, .04), inset 0 0 0 1px rgba(248, 244, 252, .04);
}

.display-2xl {
  color: var(--white--0);
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}

.dispaly-lg {
  color: var(--white--0);
  font-size: 20px;
  line-height: 28px;
}

.max-300 {
  max-width: 300px;
}

.max-347 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  flex: 0 auto;
  order: 0;
  justify-content: center;
  align-self: auto;
  align-items: flex-start;
  max-width: 347px;
  display: flex;
}

.container-2 {
  flex: 0 auto;
  justify-content: center;
  height: 100%;
  display: flex;
}

.middle {
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.middle.offset--top-nav {
  position: relative;
  top: -68px;
}

@media screen and (max-width: 991px) {
  .button.solid.wide.show-on-mobile {
    display: none;
  }

  .max-300 {
    max-width: 290px;
  }
}

@media screen and (max-width: 767px) {
  .button.solid.wide.hide-on-mobile {
    display: none;
  }

  .button.solid.wide.show-on-mobile {
    display: flex;
  }

  .card {
    flex-flow: column;
  }

  .container-2 {
    flex-flow: row;
  }
}


@font-face {
  font-family: 'Tt Firs Neue Variable';
  src: url('../fonts/TT_Firs_Neue_Variable.woff2') format('woff2'), url('../fonts/TT_Firs_Neue_Variable.woff') format('woff');
  font-weight: 100 950;
  font-style: normal;
  font-display: swap;
}